
p
{
    color:rgba(30, 38, 110, 0.541);font-size: large;font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
body{background-color: rgba(17, 70, 35, 0.466);}